:root,
body.light {
--primary:#c00005;
--on-primary:#ffffff;
--primary-container:#ffdad5;
--on-primary-container:#410000;
--secondary:#775652;
--on-secondary:#ffffff;
--secondary-container:#ffdad5;
--on-secondary-container:#2c1512;
--tertiary:#705c2e;
--on-tertiary:#ffffff;
--tertiary-container:#fcdfa6;
--on-tertiary-container:#251a00;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fffbff;
--on-background:#201a19;
--surface:#fafafa;
--on-surface:#201a19;
--surface-variant:#f5ddda;
--on-surface-variant:#534341;
--outline:#857370;
--outline-variant:#d8c2be;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#362f2e;
--inverse-on-surface:#fbeeec;
--inverse-primary:#ffb4a9;
--surface-dim:#e4d7d5;
--surface-bright:#fafafa;
--surface-container-lowest:#ffffff;
--surface-container-low:#fefefe;
--surface-container:#ebebeb;
--surface-container-high:#f3f3f3;
--surface-container-highest:#ededed;
}